@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 215vh;
}

#titulo {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}



.dadospessoais, .endereco , .solicitacao{
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.dadospessoais input,.endereco input, .solicitacao select{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.botao {
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #003829;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
} 


label{
    margin-top: 2%;
}