.footer {
    margin-top: 40px;
    background-color: #003829;
    color: white;
    padding: 10px;
    height: 40vh;
  }
  
  .informacoes-footer {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .redes-sociais {
    flex-basis: 40%;
  }
  
  .titulo-redes-sociais {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .icons-redes-sociais {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .icons-footer {
    margin-right: 10px;
  }
  
  .dados-da-equipe {
    margin-right: 50px;
    flex-basis: 30%;
  }
  
  .titulo-dados-da-equipe {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .lista-equipe {
    list-style-type: none;
    padding: 0;
  }
  
  
  .endereco-footer p {
    font-size: 14px;
    margin: 0;
  }