.footer {
    margin-top: 40px;
    background-color: #003829;
    color: white;
    padding: 10px;
    min-height: 40vh;
  }
  
  .informacoes-footer {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .redes-sociais {
    flex-basis: 40%;
  }
  
  .titulo-redes-sociais {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .icons-redes-sociais {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .icons-footer {
    margin-right: 10px;
  }
  
  .dados-da-equipe {
    margin-right: 50px;
    flex-basis: 30%;
  }
  
  .titulo-dados-da-equipe {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .lista-equipe {
    list-style-type: none;
    padding: 0;
  }
  
  
  .endereco-footer p {
    font-size: 14px;
    margin: 0;
  }

  #icones{
    list-style-type: none;
  }

  .link-icones{
    text-decoration: none;
    transition: font-size 0.3s;
    color: white;
  }

  .link-icones:hover{
    color: white;
    font-weight: bold;
    font-size: 110%;
  }
  
 /* Responsividade */
@media (max-width: 600px) {
  .redes-sociais,.dados-da-equipe {
    flex-basis: 100%;
    margin-right: 0;
  }
  
.informacoes-footer {
      justify-content: center;
  }
.footer {
    height: 100vh;
  }  
}
  
@media (min-width: 601px) and (max-width: 768px) {
  .informacoes-footer {
    justify-content: space-between;
  }
  .footer {
    height: 90vh; 
  }
}
  
@media (min-width: 1201px) {
  .redes-sociais {
    flex-basis: 40%;
 }

  .footer {
    height: 40vh; 
}
  
.dados-da-equipe {
  flex-basis: 30%;
  }
}
