@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.navbar {
    background-color: #003829;
}

.logo{
    width: 20vw;
    height: 130px;
    margin-top: 2vh;
}

.logo >img{
    width: 113px;
    height: 112px;
}

.nome-logo{
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.3rem;
    color: white;
}


.links{
    list-style: none;
    display: flex;
    justify-content: center;
}

.links>li{
    padding: 30px;
    margin: auto 10px;
}

#navbarNavAltMarkup{
    justify-content: center;
}

.nav-link{
    margin-left: 2vw;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
    color: var(--bs-white);
    text-decoration: none; 
}


