@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

.imagem-home{
    position: relative;
    width: 100%;
}

.imagem-home >img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

#slogan{
    color: rgb(255, 255, 255);
    position: absolute;
    display: inline-block;
    white-space: wrap;
    top: 40%;
    left: 25%;
    font-size: 50px;
    font-family: 'Geologica', sans-serif;
    text-align: center;
}

.ongs{
    width: 590px;
    height: 325px;
    background-color: #618C03;
    align-items:center;
}

#texto-ongs{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 25px;
}

#link-ongs{
    font-family:'Times New Roman', Times, serif;
}

.imagem-home-dois{
    width: 706px;
    height: 325px;
}

.texto-imagem-ongs{
    margin-left: 140px;
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
}


