@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

.imagem-home{
    position: relative;
    width: 100%;
}

.imagem-home >img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

#slogan {
    color: rgb(255, 255, 255);
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Geologica', sans-serif;
    text-align: center;
  }  
  
  .ongs {
    width: 590px;
    height: 325px;
    background-color: #618C03;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
  
  #texto-ongs {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
  }
  
  #link-ongs {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .imagem-home-dois {
    width: 590px;
    height: 325px;
    margin-left: 0px;
  }

  .texto-imagem-ongs {
    margin: 0 auto;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
