.area-de-login{
    padding-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2%;
    padding-top: 2%;
    min-width: 50%;
    max-width: 80%;
    text-align: center;
    border: 1px solid black;
}

.inputs-login{
    width: 100%;
    height: 30vh;
    display: flex; 
    flex-direction: column;  
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

#img-email{
    position: relative;
    left: 40px;
}

#idEmail ,#idSenha{
    min-width: 32vw;
    padding: 8px;
    border: 1px solid black;
    border-radius: 6px;
}

#idEmail::placeholder{
    padding-left: 40px;
}

.checkbox-login{
    margin-top: -4vh;
}

.btn-login{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ou{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.linha-horizontal {
    margin-top: -3px;
    margin-right: 2%;
    margin-left: 2%;
    background-color: black;
    width: 40%;
  }


.area-btn-login{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-login{
    text-decoration: none;
    width: 100px;
    background-color: #003829;
    padding: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}

.btn-login:hover{
    color: white;
}


.cadastro{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    margin-left: 25%;
    margin-top: 2vh;
    align-items: center;
    width: 50%;
    height: 100px;
    border: #000 solid 1px;
}

.cadastro a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.3s;
}

.cadastro a:hover{
    color: #003829;
    font-size: 110%;
}
