@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    height: 200vh;
}
.fundoImgPortal{
    width: 100%;
    position: relative;
    
}

.fundoImgPortal >img{
    opacity: 0.5;
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;

}

.textoPortalImagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

#text1Portal{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#text2Portal{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color :rgba(0, 0, 0, 0.8);
    text-align: center;
}



/*inicio CSS listagem de propriedades*/
.propriedades-e-chat{
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lista-propriedades-rurais{
    margin-top: 5vh;
}


.lista-propriedades-rurais> h3{
    padding-bottom: 6vh;
}



#propriedades-scroll{
    height: 30vh;
    overflow-y: scroll;
}

.div-btn-nova-propriedade{
    width: 100%;
    padding-top: 7vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#btn-nova-propriedade{
    background-color: #003829;
    font-size: 1rem;
    color: white;
    padding: 2px;
    padding-left: 15px;
    width: 22%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
}

.tabela-lista-propriedades , .coluna-linha-tabela{
    border: #000 solid 1px;
    text-align: center;
}


.coluna-linha-tabela{
    padding: 20px;
}

.btn-informacoes {
    border-radius: 12px;
    border: 1px solid black;
    padding: 10px 1vw 10px 1vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ffffff;
}

.btn-informacoes:hover{
    color: #003829;
}

/*termino CSS listagem de propriedades*/

#titulo-uso-ia{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-bottom: 5vh;
}

.sugestoes-chat ,.sugestoes{
    margin-top: 3%;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60vw;
    max-width: 600px;
}

.btn-sugestoes{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-sugestao{
    padding: 5px 30px 5px 30px ;
    background-color: rgba(3, 140, 90, 0.5);
    border-radius: 5px;
    border: #000 solid 1px ;
}




/* INICIO CSS DO CHAT*/
.box-chat{
    background-color: rgba(0, 0, 0, 0.34);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    max-width: 600px;
    height: 300px;
    max-height: 800px;
    border: #000 solid 1px;
    text-align: center;
}

.footer-box{
    border-top: #000 solid 1px;
    background-color: #D9D9D9;
    padding: 1rem;
    
}
#mensagemInput{
    width: 70%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 5px;
}

#btn-submit{
    color: white;
    background-color: #1A1717;
    font-size: 1rem;
    border: none;
    padding: 5px;
}

#btn-submit:hover{
    background-color: gray;
    cursor: pointer;
    transition: .4s;
}

/*FIM CSS DO CHAT*/

.portal-footer{
    margin-top: 7vh;
    height: 100px;
    background-color: #003829;
}

#link-nova-propriedade{
    text-decoration: none;
    color: white;
}

/* Responsividade */
@media (max-width: 400px) {
    .propriedades-e-chat {
        flex-direction: column;
        align-items: center;
    }
  
    .div-btn-nova-propriedade {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
  
    #btn-nova-propriedade {
        width: 60%;
    }

    .btn-informacoes {
        font-size: 0.5rem;
    }

      .btn-sugestoes {
        flex-direction: column;
        height: auto;
    }
    
      .btn-sugestao {
        margin-bottom: 10px;
    }
}
  
@media (max-width: 767px) {
    .lista-propriedades-rurais {
        width: 90%;
    }
  
    #btn-nova-propriedade {
        width: 80%;
    }
  
    .coluna-linha-tabela {
        padding: 10px;
    }

    .btn-informacoes {
        font-size: 0.5rem;
    }

    .btn-sugestoes {
        flex-wrap: wrap;
        height: auto;
    }
    
    .btn-sugestao {
        width: 45%;
        margin-bottom: 10px;
    }
}
  
@media (min-width: 768px) and (max-width: 1200px) {
    .lista-propriedades-rurais {
        width: 70%;
    }
  
    #btn-nova-propriedade {
        width: 60%;
    }

    .btn-informacoes {
        font-size: 0.5rem;
    }

    .btn-sugestoes {
        height: auto;
    }
    
    .btn-sugestao {
        width: 30%;
        margin-bottom: 10px;
    }
}
