@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    height: 200vh;
}
.fundoImgPortal{
    width: 100%;
    position: relative;
    
}

.fundoImgPortal >img{
    opacity: 0.5;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;

}

.textoPortalImagem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

#text1Portal{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#text2Portal{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color :rgba(0, 0, 0, 0.8);
    text-align: center;
}

.propriedades-e-chat{
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*inicio CSS listagem de propiedades*/

#propriedades-scroll{
    height: 28vh;
    overflow-y: scroll;
}

.div-btn-nova-propriedade{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#btn-nova-propriedade{
    background-color: #003829;
    font-size: 0.9rem;
    color: white;
    padding: 2px;
    padding-left: 3px;
    width: 45%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
}

.tabela-lista-propriedades , .coluna-linha-tabela{
    border: #000 solid 1px;
    text-align: center;
}

/*termino CSS listagem de propiedades*/

.coluna-linha-tabela{
    padding: 20px;
}

/* INICIO CSS DO CHAT*/
.box-chat{
    background-color: rgba(0, 0, 0, 0.34);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    max-width: 600px;
    height: 200px;
    max-height: 800px;
    border: #000 solid 1px;
    text-align: center;
}

.footer-box{
    border-top: #000 solid 1px;
    background-color: #D9D9D9;
    padding: 1rem;
    
}
#mensagem-input{
    width: 70%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 5px;
}

#btn-submit{
    color: white;
    background-color: #1A1717;
    font-size: 1rem;
    border: none;
    padding: 5px;
}

#btn-submit:hover{
    background-color: gray;
    cursor: pointer;
    transition: .4s;
}


/*FIM CSS DO CHAT*/




