body{
    background-image: url(../image/imagem-saibamais.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    margin-top: 2%;
    margin-left: 2%;
}

.texto-saibamais{
    margin-left: 2%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

#assunto{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.principal {
    display: flex;
    justify-content: center;
  }
  
.lista {
    width: 30%;
    height: 300px;
    margin: 30px 10px;
    border: 1px solid #000;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.assunto {
    font-size: 20px;
    text-align: center;
}
  
.imagem-assunto {
    border-radius: 20px;
    width: 200px;
    height: 150px;

}
  
.subtitulo{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.3s;
    
}
  
.subtitulo:hover {
    color: #003829;
    font-size: 110%;
}

/* Responsividade */
@media (max-width: 400px) {
    .texto-saibamais {
        font-size: 20px;
    }
  
    .titulo,.texto-saibamais {
        margin-left: 5%;
    }
  
    .principal {
        flex-wrap: wrap;
    }
  
    .lista {
        width: 90%;
    }
}
  
@media (min-width: 401px) and (max-width: 767px) {
    .texto-saibamais {
        font-size: 22px;
    }
  
    .titulo,.texto-saibamais {
        margin-left: 5%;
    }
  
    .principal {
        flex-wrap: wrap;
    }
  
    .lista {
        width: 45%;
    }
}
  
@media (min-width: 768px) and (max-width: 1200px) {
    .texto-saibamais {
        font-size: 24px;
    }
  
    .titulo,.texto-saibamais {
        margin-left: 2%;
    }
  
    .principal {
        flex-wrap: wrap;
    }
  
    .lista {
        width: 30%;
    }
}
  