.imagem-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-titulo > img{
    margin-top: 5%;
    border-radius: 5%;
    width: 80%;
    height: auto;
}

#titulo{
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 40%;
    left: 20%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#subtitulo{
    margin-top: 2%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 30px;
    color: #003829;
}

.linha-horizontal {
    margin-left: 10%;
    background-color: black;
    width: 80%;
  }

.textos{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

  
#principal{
    margin-top: 3%;
    text-align: center;
}
  
.imagem {
    display: inline;
    margin: 30px 10px;
   
}
  
.imagem-sustentavel {
    border-radius: 20px;
    width: 300px;
    height: 200px;

}

/* Responsividade */
@media (max-width: 400px) {
    #titulo {
        font-size: 25px;
        top: 30%;
        left: 10%;
    }
  
    #subtitulo {
        font-size: 20px;
        margin-left: 5%;
    }
  
    .textos {
        width: 90%;
        margin-left: 5%;
    }
}
  
  @media (min-width: 401px) and (max-width: 767px) {
    #titulo {
        font-size: 35px;
        top: 35%;
        left: 15%;
    }
  
    #subtitulo {
        font-size: 24px;
        margin-left: 5%;
    }
  
    .textos {
        width: 90%;
        margin-left: 5%;
    }
}
  
  @media (min-width: 768px) and (max-width: 1200px) {
    #titulo {
        font-size: 40px;
        top: 35%;
        left: 20%;
    }
  
    #subtitulo {
        font-size: 28px;
        margin-left: 10%;
    }
  
    .textos {
        width: 70%;
        margin-left: 15%;
    }
}
