.imagem-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-titulo > img{
    margin-top: 5%;
    border-radius: 5%;
    width: 80%;
    height: 500px;

}

#titulo{
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    color: white;
    top: 50%;
    left: 20%;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#subtitulo{
    margin-top: 2%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 30px;
    color: #003829;
}

.linha-horizontal {
    margin-left: 10%;
    background-color: black;
    width: 80%;
  }

.textos{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
  
.imagem-agricultura-eficiente{
    border-radius: 20px;
    width: 50%;
    height: 400px;

}

/* Responsividade */

@media (max-width: 399px) {
  #titulo {
    font-size: 20px;
    top: 35%;
    left: 15%;
  }
  
  #subtitulo {
    font-size: 20px;
    margin-left: 5%;
  }
  
  .textos {
    width: 90%;
    margin-left: 5%;
  }
  
  .imagem-titulo > img {
    height: 210px;
  }
  
  .imagem-agricultura-eficiente {
    height: 150px;
  }
}
  

@media (min-width: 400px) and (max-width: 569px) {
  #titulo {
    font-size: 30px;
    top: 40%;
    left: 15%;
  }
  
  #subtitulo {
    font-size: 20px;
    margin-left: 5%;
  }
  
  .textos {
    width: 90%;
    margin-left: 5%;
  }
  
  .imagem-titulo > img {
    height: 260px;
  }
  
  .imagem-agricultura-eficiente {
    height: 200px;
  }
}
  
@media (min-width: 569px) and (max-width: 767px) {
  #titulo {
    font-size: 40px;
    top: 40%;
    left: 15%;
  }
  
   #subtitulo {
    font-size: 24px;
    margin-left: 5%;
  }
  
  .textos {
    width: 90%;
    margin-left: 5%;
  }
  
  .imagem-titulo > img {
    height: 330px;
  }
  
  .imagem-agricultura-eficiente {
    height: 270px;
  }
}
  
@media (min-width: 768px) and (max-width: 1200px) {
  #titulo {
    font-size: 40px;
    top: 45%;
    left: 20%;
  }
  
  #subtitulo {
    font-size: 28px;
    margin-left: 10%;
  }
  
  .textos {
    width: 70%;
    margin-left: 15%;
  }
  
  .imagem-titulo > img {
    height: 450px;
  }
  
  .imagem-agricultura-eficiente {
    height: 350px;
  }
}